.btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.btn-menu {
  color: #0071bc;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.btn-menu .fa {
  font-size: 22px;
  margin-left: 10px;
  display: inline-block;
}

.btn-default {
  background-color: #3db4d3;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  border-radius: 5px;
}

.btn-collapse {
  background-color: transparent;
  color: #0071bc;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  border-radius: 5px;
}

.btn-icon {
  font-size: 22px;
}

.btn-unasus {
  width: 150px;
}

.btn-fiocruz {
  width: 40px;
}

.btn-trabalho {
  width: 162px;
}

.btn-saude {
  width: 90px;
}
