/* Importanto fontes */
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('/fonts/OpenSans-Bold.ttf') format('truetype'),
    url('/fonts/OpenSans-Italic.ttf') format('truetype'),
    url('/fonts/OpenSans-Regular.ttf') format('truetype'),
    url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

html {
  font-family: 'Open Sans', sans-serif;
}

/* Centralizar o conteudo */
.center {
  max-width: 1100px;
  margin: 0 auto;
}

/* INICIO - Cabeçalho */
/* Barra inicial */
.small-bar {
  background-color: #e6e6e6;
  border-bottom: 1px solid #f2f2f2;
}

.small-bar__links {
  display: flex;
  align-items: center;
  justify-content: left;
}

.small-bar__link {
  color: #333333;
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  border-right: 3px solid #cccccc;
}

.small-bar__link:last-child {
  border-right: 0;
}

/* Cabeçalho com logo e titulo */
.header {
  padding: 25px 0;
  background-color: #f2f2f2;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: left;
}

.header-content .logo {
  width: 160px;
  margin-right: 50px;
}

.header-content .title h1 {
  color: #0071bc;
  font-size: 36px;
  font-weight: 300;
  margin: 0;
}

.header-content .title p {
  color: #0071bc;
  font-size: 12px;
  font-weight: 300;
}

/* Menu de navegação */
.menu * {
  box-sizing: border-box;
}

.menu {
  border-top: solid 1px #085daa;
  border-bottom: solid 1px #085daa;
  position: relative;
}

.menu .menu-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 20px;
}

.menu .menu-item {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.menu .menu-item a {
  padding: 20px 12px;
  display: inline-block;
}

.menu .menu-item .btn-icon {
  padding: 20px;
}

.menu .menu-item__active,
.menu .menu-item:hover,
.menu .menu-item:focus {
  background-color: #a0ecf9;
  outline: solid 1px #085daa;
  outline: solid 1px #085daa;
}

/* Submenu  */
.menu-sub {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-sub .menu-sub__itens {
  position: absolute;
  right: 0;
  top: 60%;
  background-color: #ffffff;
  border: solid 1px #085daa;
}

.menu-sub .menu-sub__itens {
  display: none;
  list-style: none;
  padding: 0;
}

.menu-sub:hover .menu-sub__itens {
  display: block;
}

.menu-sub .menu-sub__item a {
  padding: 5px 10px;
  display: inline-block;
}

.menu-sub .menu-sub__item a:hover,
.menu-sub .menu-sub__item a:active,
.menu-sub .menu-sub__item a:focus {
  background-color: #a0ecf9;
}
/* FINAL - Cabeçalho */

/* INIICO - Conteudo */
.container {
  overflow: hidden;
  padding-top: 30px;
  margin-bottom: 35px;
}

.content {
  padding-top: 20px;
  width: 62%;
  float: left;
}

/* BLoco introdução da unidade */
.block-head {
  margin-bottom: 25px;
}

.block-head__title h2 {
  background: transparent;
  color: #0071bc;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  margin-bottom: 15px;
}

.block-head__content {
  background-color: #e8ebed;
  padding: 12px;
  box-shadow: 10px 10px 10px 0px #6d6d6d;
}

/* INICIO Cursos */

.block-courses {
}

.block-course {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.block-course__thumbnail {
  position: relative;
}

.block-course__thumbnail-avatar {
  border: 3px solid gray;
  width: 190px;
  height: 190px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-course.block-course__completed .block-course__thumbnail-avatar {
  border-color: #39b54a;
}

.block-course.block-course__incomplete .block-course__thumbnail-avatar {
  border-color: #fbb03b;
}

.block-course__thumbnail .icon {
  position: absolute;
  background-color: gray;
  color: #fff;
  font-size: 26px;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  bottom: 10px;
  right: 10px;
  letter-spacing: -2px;
}

.block-course.block-course__completed .block-course__thumbnail .icon {
  background-color: #39b54a;
}

.block-course.block-course__incomplete .block-course__thumbnail .icon {
  background-color: #fbb03b;
}

.block-course__item {
  width: 454px;
}

.block-course__item-header {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  font-weight: 100;
  margin-bottom: 10px;
}

.block-course__item-content {
  color: #4d4d4d;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
}

.block-course__data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-course__bar {
  text-align: center;
}

.block-course__bar p {
  color: #848889;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin: 0;
}

.block-course__bar-progress {
  position: relative;
  border-radius: 5px;
  background-color: #878787;
  height: 24px;
  width: 230px;
}

.block-course__bar-percentage {
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
  width: 1%;
}

.block-course.block-course__completed .block-course__bar-percentage {
  background-color: #39b54a;
}

.block-course.block-course__incomplete .block-course__bar-percentage {
  background-color: #fbb03b;
}

.block-course__buttons .btn-default {
  width: 200px;
}
/* FIM - Cursos */

/* INICIO - Questões */
.block-questions header {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  margin-bottom: 20px;
}

.block-questions__content {
  border: 1px solid #9e9d9d;
  background-color: #f4f4f4;
}

.block-question {
}

.block-question__text {
  padding: 20px 30px;
  border-bottom: 1px solid #9e9d9d;
}

.block-question__text p {
  color: #4d4d4d;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.block-question__options {
  padding: 20px 30px;
}

.block-question__option .checkbox {
  margin-bottom: 14px;
  cursor: pointer;
}

.block-question__option label:hover {
  cursor: pointer;
}

.block-question__answer {
  border: 1px solid #9e9d9d;
  background-color: #9e9d9d;
  padding: 10px 20px;
  margin-bottom: 10px;
  display: none;
}

.block-question__answer-wrong {
  background-color: #edbebe;
}

.block-question__answer-correct {
  background-color: #c6efc5;
}

.block-question__answer p {
  color: #4d4d4d;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-bottom: 0;
}
/* FIM - Questões */

/* Sidebar */
aside {
  width: 32%;
  float: right;
}

.sidebar-list {
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin-bottom: 30px;
  box-shadow: 4px 4px 10px 0px #c7c7c7;
}

.sidebar-list__title {
  color: #0071bc;
  font-family: 'Open Sans', sans-serif;
  font-size: 21px;
  display: block;
  padding-bottom: 16px;
  border-bottom: 1px solid #f6f6f6;
}

.sidebar-list__links {
  list-style: none;
  padding: 0;
}

.sidebar-list__link {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.sidebar-list__link:hover
, .sidebar-list__link:focus,
.sidebar-list__link:active {
  text-decoration: underline;
}

.sidebar-list__link-thumb {
  /* Style for "<Path>" */
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  vertical-align: middle;
  background-color: #a4e9f4;
  border: 1px solid #797a7a;
}

.sidebar-list__link-text {
  margin-left: 10px;
  width: 100%;
}

.sidebar-list__link-text p,
.sidebar-list__link-text i {
  margin-bottom: 0;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.sidebar-collapse {
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin-bottom: 30px;
  box-shadow: 4px 4px 10px 0px #c7c7c7;
}

.sidebar-collapse__title {

}

.sidebar-collapse__title button {
  position: relative;
  text-align: left;
  width: 100%;
}

.sidebar-collapse__title button i {
  position: absolute;
  right: 10px;
  top: 50%;
  color: #808080;
  font-size: 28px;
  transform: translate(0, -50%);
}

.sidebar-collapse__content {
  text-align: justify;
  padding-top: 18px;
  margin-top: 10px;
  display: none;
  border-top: 1px solid #e6e6e6;
}

.sidebar-collapse__open .sidebar-collapse__content {
  display: block;
}

.sidebar-collapse__content p {
  color: #4d4d4d;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  margin-bottom: 10px;
}
/* FIM - Sidebar */

/* INICIO Rodape */

footer {
  border-top: solid 1px #cccccc;
}

footer .logos {
  padding: 20px 0;
}

footer .logos {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .logos a {
  margin-right: 90px;
}

footer .logos a:last-child {
  margin-right: 0;
}